services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - db_data:/var/lib/postgresql/data


  odoo:
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - odoo_data:/var/lib/odoo
      - ./addons:/mnt/extra-addons


  pgadmin:
    image: dpage/pgadmin4:latest
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=amourinodesousa@danielcastelao.org
      - PGADMIN_DEFAULT_PASSWORD=pgadmin_sxe




volumes:
  odoo_data:
  db_data:
  pgadmin_data: